services:
  - type: web
    name: model-backend-app
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    
  - type: web
    name: model-frontend-app
    runtime: docker
    dockerfilePath: ./frontend/Dockerfile
    envVars:
      - key: BACKEND_URL
        fromService:
          name: model-backend-app
          property: host